{% extends 'admin/base.html.twig' %}

{% block title %}Gewinnspiele{% endblock %}
{% block page_header %}Gewinnspiele erstellen{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.date, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.save, {'attr': {'class': 'btn btn-sm btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#contest_admin_type_date').datepicker({
                format: 'dd.mm.yyyy'
            })
        })
    </script>
{% endblock %}
