{% extends 'admin/base.html.twig' %}

{% block title %}Gewinnspiele{% endblock %}
{% block page_header %}Gewinnspiele erstellen{% endblock %}

{% block page %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titel'}}) }}
                <div class="form-error">
                    {{ form_errors(form.title) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Datum'}}) }}
                <div class="form-error">
                    {{ form_errors(form.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        {{ form_widget(form.startDate, {'attr': {'class': 'form-control', 'placeholder': 'Von'}}) }}
                        <div class="form-error">
                            {{ form_errors(form.startDate) }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        {{ form_widget(form.endDate, {'attr': {'class': 'form-control', 'placeholder': 'Bis'}}) }}
                        <div class="form-error">
                            {{ form_errors(form.endDate) }}
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-6">
            <div id="question-form-container" style="{% if form.type.vars.value != constant('App\\Entity\\Contest::TYPE_RADIO') %}display: none{% endif %}">
                <div class="form-error">
                    {{ form_errors(form) }}
                </div>
                {% include 'admin/contest/partials/question-form.html.twig' with { 'form': form.question, } %}
            </div>
        </div>
    </div>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-sm btn-primary'}}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        var $collectionHolder;
        var $addButton = $('<button type="button" class="btn btn-sm btn-primary add_answer">Antwort hinzufügen</button>');
        var $newLinkLi = $('<li></li>').append($addButton);

        $(document).ready(function () {

            $('#contest_admin_type_startDate').datepicker({
                format: 'yyyy-mm-dd'
            });

            $('#contest_admin_type_endDate').datepicker({
                format: 'yyyy-mm-dd'
            });

            $('#contest_admin_type_type').on('change', function (e) {
                console.log('foo');
                $('#question-form-container').toggle();
            });

            $collectionHolder = $('ul.answers');
            $collectionHolder.append($newLinkLi);
            console.log($collectionHolder.find(':input').length);
            $collectionHolder.data('index', $collectionHolder.find('input.form-control').length);
            $addButton.on('click', function(e) {
                addForm($collectionHolder, $newLinkLi);
            });
        });

        function addForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            newForm = newForm.replace(/__name2__/g, index + 1);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
