{% extends 'admin/base.html.twig' %}

{% block title %}Gewinnspiele{% endblock %}
{% block page_header %}Gewinnspiele{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-12">
            <div class="mb-2">
                <a href="{{ path('admin_contest_create') }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Gewinnspiel</a>
            </div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Titel</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Teilnehmer</th>
                    <th scope="col">Aktion</th>
                </tr>
                </thead>
                <tbody>
                {% for contest in contests %}
                    <tr>
                        <td>{{ contest.title }}</td>
                        <td>{{ types[contest.type] }}</td>
                        <td>{{ contest.startDate|date('d.m.Y') }} - {{ contest.endDate|date('d.m.Y') }}</td>
                        <td>
                            {% if contest.participants|length %}
                                {{ participants[contest.id]|length }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('contest', {'contest': contest.id}) }}" target="_blank" class="btn btn-sm btn-info">Zum Gewinnspiel</a>
                            <a href="{{ path('admin_participant', {'contest': contest.id}) }}" class="btn btn-sm btn-primary">Teilnehmer</a>
                            <a href="{{ path('admin_contest_edit', {'contest': contest.id}) }}" class="btn btn-sm btn-warning">Bearbeiten</a>
                            {{ form_start(deleteForms[contest.id]) }}
                                {{ form_widget(deleteForms[contest.id]) }}
                            {{ form_end(deleteForms[contest.id]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
