{% extends 'base.html.twig' %}

{% block title %}{{ contest.title }}{% endblock %}
{% set class = 'form-control' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>{{ contest.title }}</h3>
            {% if contest is not null %}

                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    {% include 'contest/partials/contest-participant-form.html.twig' %}

                    {% if contest.type == constant('App\\Entity\\Contest::TYPE_RADIO') %}
                        {{ contest.question.title }}
                        <div class="form-group">
                            {% for radio in form.answer.radio %}
                                <div class="form-check">
                                    {{ form_widget(radio, {'attr': {'class': 'form-check-input'}}) }}
                                    <label class="form-check-label" for="exampleRadios1">
                                        {{ radio.vars.label }}
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="form-error">
                                {{ form_errors(form.answer.radio) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <div class="form-check">
                            {{ form_widget(form.acceptance, {'attr': {'class': ''}}) }}
                            <label class="form-check-label" for="defaultAcceptance1">
                                Ich akzeptiere die <a href="https://www.varta-guide.de/datenschutz/" target="_blank">Datenschutzbestimmungen</a>.
                            </label>
                            <div class="form-error">
                                {{ form_errors(form.acceptance) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            {{ form_widget(form.newsletter, {'attr': {'class': ''}}) }}
                            <label class="form-check-label" for="defaultCheck1">
                                {{ 'Ich möchte den Varta-Guide Newsletter erhalten.' }}
                            </label>
                        </div>
                    </div>

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-sm btn-primary'}}) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
