{% extends 'base.html.twig' %}

{% block title %}{{ contest.title }}{% endblock %}
{% set class = 'form-control' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>{{ contest.title }}</h2>
            {% if contest is not null %}

                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    {% include 'contest/partials/contest-participant-form.html.twig' %}

                    {% if contest.type == constant('App\\Entity\\Contest::TYPE_RADIO') %}
                        <h3>{{ contest.question.title }}</h3>
                        <div class="form-group">
                            {% for radio in form.answer.radio %}
                                <div class="custom-control custom-radio">
                                    {{ form_widget(radio, {'attr': {'class': 'custom-control-input'}}) }}
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="contest_type_answer_radio_{{ loop.index0 }}">
                                        {{ radio.vars.label }}
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="form-error">
                                {{ form_errors(form.answer.radio) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.acceptance, {'attr': {'class': 'custom-control-input', 'style': 'font-size: 1.25rem;'}}) }}
                            <label class="custom-control-label" for="contest_type_acceptance">
                                Ich akzeptiere die <a href="https://www.varta-guide.de/datenschutz/" target="_blank">Datenschutzbestimmungen</a> und
                                <a href="https://www.varta-guide.de/teilnahmebedingungen-gewinnspiele/" target="_blank">Teilnahmebedingungen</a>.
                            </label>
                        </div>
                        <div class="form-error">
                            {{ form_errors(form.acceptance) }}
                        </div>
                    </div>
                    <div class="cleafix"></div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            {{ form_widget(form.newsletter, {'attr': {'class': 'custom-control-input', 'style': 'font-size: 1.25rem;'}}) }}
                            <label class="custom-control-label" for="contest_type_newsletter">
                                {{ 'Ich möchte den Varta-Guide Newsletter erhalten.' }}
                            </label>
                        </div>
                        <div class="form-error">
                            {{ form_errors(form.newsletter) }}
                        </div>
                    </div>

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPad/i))){
                $('input[type=text]').on('touchend', function(){
                    $(this).trigger("click");
                    return true;
                });
            }
        });
    </script>
{% endblock %}
